[Unit]
Description=EndOS Automatic System Update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/endos-update
