[Unit]
Description=EndOS Python Environment Setup
After=network.target
ConditionPathExists=/root/install_python_deps.sh

[Service]
Type=oneshot
ExecStart=/bin/bash /root/install_python_deps.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
