[Unit]
Description=Daily Automatic System Update for EndOS

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
